<header style="background-color:blue">
  header
</header>


<div class="container">
  <div "container-header">
    <h1>Note Manager</h1>
  </div>
  <div class="row">
    <div class="col-sm-2 menu" style="background-color:blue"> 
    </div>
    <div id="main" class="col-sm-10 main">
      <%= render :partial => "note_partial", :locals => { note: @root  } %>
    </div>
  </div>

</div>

<footer style="background-color:blue">
  footer
</footer>

  
