<h1>Note#index</h1>

<ul>
  <li>
    <%= @note_root.text %> 
    <span class="actions"> 
        <button>add children</button> 
    </span>
  </li>
  
  <% @notes.each do |note| %>
    <li>
      <%= note.text %> 
      <span class="actions"> 
        <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    </li>
  <% end %>
</ul>
