.completed {
  text-decoration: line-through;
}

.children {
  margin-left:20px;
}

.edit_note {
  display:inline;
}

.actions {
  display:none;
}

.note_line {
  margin: 2px 0px;
}

.note_line .content {
  box-shadow: none;
}
